<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/current.txt"
            
  archiveFileName="${basedir}/logs/old/archive.{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
  />
    <target name="errorsOnly" xsi:type="File" fileName="${basedir}/logs/errorsOnly.txt"
            
            archiveFileName="${basedir}/logs/old/errorsArchive.{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
    />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="errorsOnly" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>