<?xml
  version="1.0"
  encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="allfile" fileName="current.${shortdate}.log"
            header ="time stamp|event id|process id|class|level|message"
            layout="${longdate}|${event-properties:item=EventId.Id}|${processid}|${logger}|${uppercase:${level}}|${message} ${exception}"
            archiveFileName="logs/log.${shortdate}.{#}.log"
            maxArchiveFiles="7"
            archiveEvery="Day"/>
    
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            header ="date|event id|process id|logger|level|message"
            layout="${longdate}|${event-properties:item=EventId.Id}|${processid}|${logger}|${uppercase:${level}}|${message} ${exception}">
         
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
</nlog>